@model Web.Models.ViewModels.Document.DocumentViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Model.Title;
    var lang = ViewBag.Language;
}

<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid accordion text menu" id="documentFilterPanel">
            <div class="item">
                <div class="active title">
                    <i class="dropdown icon"></i>
                    <b>@Localizer["LanguageDoc"]</b>
                </div>
                <div class="active content">
                    <div class="ui link list">
                        @foreach(var item in ViewBag.Languages) {
                            <div class="item @(Model.Id == item.Id ? "active": "") ">
                                <a asp-action="Details" asp-route-id="@item.Id">@item.Language</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="active title">
                    <i class="dropdown icon"></i>
                    <b>@Localizer["Edition"]</b>
                </div>
                <div class="active content">
                    <div class="ui link list">
                        @foreach(var item in ViewBag.Versions) {
                            <a asp-action="Details" asp-route-id="@item.Id" class="item">
                                <i class="calendar alternate icon"></i> @item.DisplayEditionDate @item.LanguageId
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <partial name="_DocumentCardPartial" model="Model" />
    </div>
    <div class="twelve wide column">
        <h4>@Model.Title</h4>
        <p>@Model.Info</p>
        <partial name="_DocumentCardMenuPartial" />
        <div class="ui raised segment">
            <div class='ui @(Model.StatusId == 2 ? "red": (Model.StatusId == 3) ? "yellow": "blue") ribbon label'>
                <i class='file alternate outline icon'></i> @Model.Status
            </div>
            <div id="document" class="document">
                @Html.Raw(Model.Content == null ? "" : Model.Content)
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(() => {
            $('#document').printHtmlSelected((sender, html) => {
                if (!String.isNullOrEmpty(html) && html.length > 10) {
                    $('input[name=selected]').val(html);
                    $('.print-selection').removeClass('disabled');
                } else {
                    $('.print-selection').addClass('disabled');
                }
            });
        });
    </script>
}
