@model Web.Models.ViewModels.Document.DocumentViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = null;
}

<div class="ui piled compact segment" id="documentCard">
    <h4 class="ui header">@Localizer["Card"]</h4>
    <table class="ui definition small table">
        <tbody>
            <tr>
                <td><label asp-for="AcceptNumber"></label></td>
                <td><label>@Model.AcceptNumber</label></td>
            </tr>
            <tr>
                <td><label asp-for="AcceptedDate"></label></td>
                <td><label>@Model.AcceptedDate</label></td>
            </tr>
            <tr>
                <td><label asp-for="RegNumber"></label></td>
                <td><label>@Model.RegNumber</label></td>
            </tr>
            <tr>
                <td><label asp-for="GosNumber"></label></td>
                <td><label>@Model.GosNumber</label></td>
            </tr>
            <tr>
                <td><label asp-for="RegionAction"></label></td>
                <td><label>@Model.RegionAction</label></td>
            </tr>
            @*<tr>
                    <td><label asp-for="MainTypes"></label></td>
                    <td><label>@Model.MainTypes</label></td>
                </tr>*@
            <tr>
                <td><label asp-for="PrintDepartment"></label></td>
                <td><label>@Model.PrintDepartment</label></td>
            </tr>
            <tr>
                <td><label asp-for="Ngr"></label></td>
                <td><label>@Model.Ngr</label></td>
            </tr>
        </tbody>
    </table>
</div>